*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

body {
    background-color:hsl(212, 45%, 89%);
}

img {
  width: 300px;
  border-radius: 12px;
}

h1 {
  font-size:x-large;
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    height: 545px;
    width: 330px;
  }

  