*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
}

body {
    background-color:hsl(212, 45%, 89%);
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
  }

  .qr-code {
      max-width: 200%;
      height: auto;
  }