*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
}

body {
    
    background-color:hsl(212, 45%, 89%);
}

.flex-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .qr-code {
      width: 100%;
  }